*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Myeongjo', serif;
}

.contenido{
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#899796 , #3db8ab );
}

.buscar{
    position: absolute;
    padding: 5px;
}

.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    position: absolute;
    top: 0;
    right: 0;
    background: #044943  ;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 350px;
}

.buscar input:focus{
    width: 350px;
}

.titulo{
    width: 100%;
    background: #d3d2d2;
    box-shadow: 0px 3px 5px #000;
    padding: 10px 0px;
    text-align: center;
}

.imprimir{
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}